
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <title>Citas para hoy</title>
    </head>
</html>
<body>
    <nav class="navbar bg-primary">
        <div class="container-fluid">
            <img src="{{url_for('static', filename='imagenes/logo.png')}}" width="80" height="80" alt="">
            <h3 class="navbar-text">
              Bienvenido/a dr/a: {{usuario}}, aqui tiene sus citas de hoy
            </h3>
            <a href="/logout" class="btn btn-sm btn-secondary">Cerrar sesión</a>
        </div>
    </nav>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-hover">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Consulta</th>
            {% if data is defined %}
                {% for cita in data %}
                <tr>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }} - {{cita.hora+1}}</td>
                    <td>{{ cita.paciente }}</td>
                    <td>{{ cita.email }}</td>
                    <td>{{ cita.telefono }}</td>
                    <td>{{ cita.consulta }}</td>
                </tr>
                {% endfor %}
            {% endif%}
            </table>
        </div>
    </div>
</body>